<div class="p-8 h-screen">
  <div
    class="
      p-8
      flex
      space-between
      absolute
      right-0
      left-56
      top-0
      justify-between
      items-center
    "
  >
    <div
      class="
        button
        bg-white
        text-blue
        hover:bg-blue hover:text-white
        duration-200
      "
      (click)="goBack()"
    >
      <fa-icon class="icon" [icon]="backIcon"></fa-icon>
    </div>
    <a [href]="task.url" target="_blank" class="w-9/12 text-center">
      <h1>{{ task.title }}</h1>
    </a>
    <app-add-submission
      [submissionFormOpen]="addingSubmission"
      (click)="toggleNewSubmissionForm()"
    ></app-add-submission>
  </div>

  <div class="flex flex-col py-24">
    <app-new-submission-form
      (submissionEvent)="addSubmission($event)"
      [isOpen]="addingSubmission"
    ></app-new-submission-form>
    <div *ngIf="task.submissions && task.submissions.length > 0">
      <app-submission
        *ngFor="let submission of task.submissions"
        [submission]="submission"
      >
      </app-submission>
    </div>
  </div>
  <div
    *ngIf="
      (!task.submissions || task.submissions.length === 0) && !addingSubmission
    "
    class="w-full my-24 flex items-center justify-center"
  >
    <h1 class="text-coral-black">No submissions yet.</h1>
  </div>
</div>
