<div class="p-8 h-screen">
  <div
    class="
      p-8
      flex
      space-between
      absolute
      right-0
      left-56
      top-0
      justify-between
      items-center
    "
  >
    <div
      class="
        button
        bg-white
        text-blue
        hover:bg-blue hover:text-white
        duration-200
      "
      (click)="goBack()"
    >
      <fa-icon class="icon" [icon]="backIcon"></fa-icon>
    </div>
    <a [href]="task.url" target="_blank">
      <h1>{{ task.title }}</h1>
    </a>
    <app-add-submission
      [submissionFormOpen]="addingSubmission"
      (click)="toggleNewSubmissionForm()"
    ></app-add-submission>
  </div>

  <div
    *ngIf="task.submissions && task.submissions.length > 0"
    class="flex flex-col py-24"
  >
    <app-new-submission-form
      [isOpen]="addingSubmission"
    ></app-new-submission-form>
    <app-submission
      *ngFor="let submission of task.submissions"
      [submission]="submission"
    >
    </app-submission>
  </div>
  <div
    *ngIf="!task.submissions || task.submissions.length === 0"
    class="w-full h-full flex items-center justify-center"
  >
    <h1 class="text-coral-black">No submissions yet.</h1>
  </div>
</div>
