<div [@openClose]="isOpen ? 'open' : 'closed'" class="submission-card">
  <input
    class="new-submission-input"
    type="text"
    placeholder="Project title"
    #title
  />
  <input
    class="new-submission-input"
    type="text"
    placeholder="Project description"
    #description
  />
  <input
    class="new-submission-input"
    type="text"
    placeholder="Link to project"
    #url
  />
  <button
    class="button bg-green text-white m-auto mt-4 hover:bg-green-dark"
    (click)="submitForm(title.value, description.value, url.value)"
  >
    <fa-icon class="icon" [icon]="checkIcon"></fa-icon>
  </button>
</div>
