@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgba(239, 239, 239, 0.5);
}

h1 {
  font-weight: bold;
  font-size: 34px;
  font-family: "Karla";
}

h2 {
  @apply leading-7;
  font-weight: bold;
  font-size: 24px;
  font-family: "Karla";
}

.button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

p {
  font-size: 16px;
}

.small-text {
  font-size: 11px;
  line-height: 16px;
}

.nav-button {
  @apply button-text text-left cursor-pointer;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

.nav-button:hover {
  transition: 200ms;
  background-color: rgba(0, 0, 0, 0.05);
  color: white;
}

.selected-button {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.icon {
  margin-right: 8px;
}

.mb-10px {
  padding-bottom: 10px;
}
